html {
    font-family: 'Consolas';
    font-weight: bolder;
    background-color: cadetblue;
    color: white;
}

#UpdatesContainer {
    margin-bottom: 10%;
}

#UpdatesContainerTitle {
    text-decoration: underline;
}

#InfoContainerTitle {
    font-weight: 900;
    text-decoration: underline;
}

#ListContainer {
    background-color: rgb(53, 87, 88);
    align-self: center;
    margin: auto;
    width: 50%;
    padding: 5% 5%;
    border-width: 1vh;
    border-color: white;
    border-style: groove
}

#ListContainerTitle {
    text-align: center;
    text-decoration: underline;
}

#Footer {}